
.wp-block-enzian-sell-index svg {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.wp-block-enzian-sell-index svg #bella-vista > g {
    transition: transform 0.3s ease;
    transform: translateY(0px);
}

.wp-block-enzian-sell-index svg [id*="Overlay_Shades"] {
    fill-opacity: 0;
}

.wp-block-enzian-sell-index svg [id*="Overlay_Shades"].highlight{
    fill-opacity: 1;
    transition: fill-opacity 0.3s ease;
}

.wp-block-enzian-sell-index svg #bella-vista > g.translate {
    transform: translateY(-12rem);
}

.sell-index {}

.sell-index-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: transparent;
    
}

.sell-index-table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    height: 3rem;
}

.sell-index-table tr:hover{
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.sell-index-table td {
    text-align: center;
    padding: 0.5rem;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.75);
}

.sell-index-table-download-pdf svg {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: middle;
    stroke: rgba(0, 0, 0, 0.5);
}
