.wp-block-enzian-sell-index {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.wp-block-enzian-sell-index svg {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.wp-block-enzian-sell-index svg g#Umgebung polygon {
    fill: var(--wp--preset--color--brown-grey) !important;
}

.wp-block-enzian-sell-index svg #bella-vista>g {
    transition: transform 0.3s ease;
    transform: translateY(0px);
}

.wp-block-enzian-sell-index svg [id*="Overlay_Shades"] {
    fill-opacity: 0;
}

.wp-block-enzian-sell-index svg [id*="Overlay_Shades"].highlight {
    fill-opacity: 1;
    transition: fill-opacity 0.3s ease;
}

.wp-block-enzian-sell-index svg [id*="Overlay_Shades"].highlight polygon {
    fill: var(--wp--preset--color--accent-orange) !important;
}

.wp-block-enzian-sell-index svg #bella-vista>g.translate {
    transform: translateY(-12rem);
}

.sell-index {
    margin-bottom: 5rem;
}

.sell-index-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: transparent;

}

.sell-index-table thead th {
    text-align: center;
    font-family: 'PP Neue Montreal', sans-serif ;
    font-weight: 600;
    font-weight: normal;
    font-size: 1rem;
    min-width: 5rem;
}

.sell-index-table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    height: 3rem;
    transition: background-color 0.3s ease;
}

.sell-index-table tr:hover {
    background-color: var(--wp--preset--color--accent-orange);
    cursor: pointer;
}

.sell-index-table td {
    text-align: center;
    padding: 0.5rem;
     font-family: 'PP Neue Montreal', sans-serif;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.75);
}

.sell-index-table-download-pdf svg {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: middle;
    stroke: rgba(0, 0, 0, 0.5);
}