html {
    scroll-behavior: smooth;
}

p {
    letter-spacing: 0.02em;
    line-height: 120%;
}

.toSansSerif {
    font-family: var(--wp--preset--font-family--pp-neue-montreal);
    font-weight: 300;
    letter-spacing: -0.01em;
}

/* Details Block Styles */

.wp-block-site-logo img {
    height: 2.25rem;
    width: auto;
}

/* Add a custom transition when opening/closing. */
.wp-block-details {
    transition: all 0.3s ease-in-out;
    border-bottom-color: var(--wp--preset--color--dark-brown);
}

.wp-block-details:hover {
    border-bottom-color: var(--wp--preset--color--accent-orange);
    transition: border-bottom-color 0.3s ease;
}

.wp-block-details[open] {
    padding-bottom: 2rem;
    background-color: var(--wp--preset--color--dark-brown-grey);
}

/* Content wird via JavaScript animiert */
.wp-block-details> :not(summary) {
    overflow: hidden;
}

/* Add horizontal margin to nested blocks/elements. */
.wp-block-details> :where( :not(summary)) {
    margin-left: 2rem;
    margin-right: 2rem;
}

/* If open, add some bottom padding to avoid content butting against the bottom. */
.wp-block-details[open] {
    padding-bottom: 2rem;
    background-color: var(--wp--preset--color--dark-brown-grey);
}

/* Base `summary` element styling. */
.wp-block-details summary {
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    padding: 1.25rem;
    font-weight: 300;
    font-size: 2rem;
}

/* Change the background of the `summary` element based on state. */
/* .wp-block-details[open] summary,
.wp-block-details summary:hover,
.wp-block-details summary:focus {
	background: var(--wp--preset--color--dark-brown-grey);
} */

.wp-block-details summary::marker {
    content: none;
}

.wp-block-details:hover summary {
    cursor: pointer;
    color: var(--wp--preset--color--accent-orange);
}

.wp-block-details summary::after {
    content: '';
    float: right;
    width: 13px;
    height: 24px;
    background-color: var(--wp--preset--color--dark-brown);
    mask-image: url('data:image/svg+xml,<svg width="13" height="24" viewBox="0 0 13 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.353564 0.353551L11.6673 11.6673L0.353564 22.981" stroke="black" stroke-width="1.5" stroke-linejoin="round"/></svg>');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.wp-block-details:hover summary::after {
    background-color: var(--wp--preset--color--accent-orange);
}

.wp-block-details[open] summary::after {
    transform: rotate(90deg);
}

/* Formular styles */
.wpcf7-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wpcf7-form p label span {
    display: flex;
}

.wpcf7-form p label span.wpcf7-form-label-text {
    display: inline-block;
    padding: 0.5rem 0rem 0.5rem 2rem;
    font-family: 'PP Neue Montreal', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.wpcf7-form p label {
    font-family: 'PP Neue Montreal', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.wpcf7-form p label span input,
.wpcf7-form p label span textarea {
    width: 100%;
}

.wpcf7-form p label span textarea,
.wpcf7-form p label span input {
    background-color: var(--wp--preset--color--brown-grey);
    color: var(--wp--preset--color--white);
    font-family: 'PP Neue Montreal', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid var(--wp--preset--color--dark-brown);
    border-radius: var(--wp--preset--spacing--50);
}

.wpcf7-form p label span input:focus-visible,
.wpcf7-form p label span textarea:focus-visible {
    outline: 2px solid var(--wp--preset--color--accent-orange);
}

/* Link Styles */
footer a {
    position: relative;
    display: inline-block;
    color: var(--wp--preset--color--dark-brown);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--wp--preset--color--accent-orange);
}

footer a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--wp--preset--color--accent-orange);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

footer a:hover::after {
    transform: scaleX(1);
}

/* Navigation Link Styles */
div.wp-block-group:has(>nav) {
    background-color: var(--wp--preset--color--light-brown-grey);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 3rem;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10rem;
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 100%;
}

div.wp-block-group:has(>nav).nav-hidden {
    transform: translateX(-50%) translateY(-120%);
    opacity: 0;
}

div.wp-block-group:has(>nav).nav-visible {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

.wp-block-navigation-item__content {
    position: relative;
    display: inline-block;
    font-size: 1.25rem;
    letter-spacing: 0.01em;
}

.wp-block-navigation-item__content .wp-block-navigation-item__label {
    color: var(--wp--preset--color--dark-brown);
    transition: color 0.3s ease;
}

/* .current-menu-item .wp-block-navigation-item__content .wp-block-navigation-item__label{
    color: var(--wp--preset--color--accent-orange);
} */

.wp-block-navigation-item__content:hover .wp-block-navigation-item__label {
    color: var(--wp--preset--color--accent-orange);
}

.wp-block-navigation-item__content::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--wp--preset--color--accent-orange);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

/* .current-menu-item .wp-block-navigation-item__content::after, */
.wp-block-navigation-item__content:hover::after {
    transform: scaleX(1);
}

/* Sections */

section#lage .is-layout-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
    max-width: var(--wp--style--global--wide-size);
    margin-left: auto;
    margin-right: auto;
}

section#lage .is-layout-grid h2 {
    grid-column: 4 / span 6;
    grid-row: 1 / span 1;
    margin-left: 0 !important;
    margin-top: 5rem;
}

section#lage .is-layout-grid p {
    grid-column: 4 / span 6;
    grid-row: 2 / span 1;
}

section#lage>div:first-of-type {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    gap: 2rem;
}

section#lage>div:first-of-type>h1 {
    grid-column: 1 / span 8;
    grid-row: 1 / span 1;
    z-index: 3;
}

section#lage>div:first-of-type>p {
    grid-column: 3 / span 10;
    grid-row: 2 / span 1;
    z-index: 3;
}

section#lage>div:first-of-type>div.container {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    z-index: 2;
}

section#lage>div:first-of-type>div.container svg {
    transform: scale(6.5);
}

section#lage>div:first-of-type>div.cb-carousel-block {
    grid-column: 3 / span 10;
    grid-row: 3 / span 1;
    max-width: 100%;
}

section#wohnungen {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
    max-width: var(--wp--style--global--wide-size);
    margin-left: auto;
    margin-right: auto;
}

section#wohnungen>h2 {
    grid-column: 7 / span 6;
    grid-row: 1 / span 1;
    margin-left: 0 !important;
}

section#wohnungen>p {
    grid-column: 7 / span 6;
    grid-row: 2 / span 1;
}

section.hero {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    grid-template-rows: repeat(6, auto);
    gap: 2rem;
    max-width: var(--wp--style--global--wide-size);
    margin-left: auto;
    margin-right: auto;
}

section.hero>figure:nth-of-type(1) {
    grid-column: 3 / span 8;
    grid-row: 1 / span 6;
    z-index: 1;
}

section.hero>figure:nth-of-type(2) {
    grid-column: 7 / span 5;
    grid-row: 4 / span 1;
    z-index: 3;
}

section.hero>figure:nth-of-type(3) {
    grid-column: 8 / span 5;
    grid-row: 5 / span 1;
    z-index: 2;
}

section.hero>figure:nth-of-type(1) img {
    width: 100% !important;
    height: auto;
    display: block;
}

section#facts-figures {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    grid-template-rows: repeat(4, auto);
    gap: 2rem;
    max-width: var(--wp--style--global--wide-size);
    margin-left: auto;
    margin-right: auto;
}

section#facts-figures > h2 {
    grid-column: 2 / span 6;
    grid-row: 1 / span 1;
    margin-left: 0 !important;
}

section#facts-figures div.is-layout-grid {
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
    max-width: var(--wp--style--global--wide-size);
    margin-left: auto;
    margin-right: auto;
    /* justify-items: center;
    align-items: center; */
}

section#facts-figures div.wp-block-cb-carousel-v2 {
    grid-column: 2 / span 10;
    grid-row: 3 / span 1;
}

section#facts-figures > div.is-layout-flex {
    grid-column: 2 / span 10;
    grid-row: 4 / span 1;
    width: 100%;
}

/* section#facts-figures div:has(> h3) {
    aspect-ratio: 1 / 1;
} */

section#facts-figures div:has(> h3):nth-of-type(1) {
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;
    
}

section#facts-figures div:has(> h3):nth-of-type(2) {
    grid-column: 5 / span 5;
    grid-row: 1 / span 1;
}

section#facts-figures div:has(> h3):nth-of-type(3) {
    grid-column: 2 / span 5;
    grid-row: 2 / span 2;
}

section#facts-figures div:has(> h3):nth-of-type(4) {
    grid-column: 7 / span 3;
    grid-row: 2 / span 1;
}

section#facts-figures div:has(> h3):nth-of-type(5) {
    grid-column: 7 / span 3;
    grid-row: 3 / span 1;
}

/* section#facts-figures div:has(> h3):nth-of-type(6) {
    grid-column: 7 / span 3;
    grid-row: 3 / span 1;
} */

section#facts-figures div.wp-block-group > h3 {
    font-size: 8rem;
}

section#dokumentation {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
    max-width: var(--wp--style--global--wide-size);
    margin-left: auto;
    margin-right: auto;
}

section#dokumentation > h2 {
    grid-column: 2 / span 8;
    grid-row: 1 / span 1;
    margin-left: 0 !important;
}

section#dokumentation > p {
    grid-column: 2 / span 8;
    grid-row: 2 / span 1;
}

section#dokumentation > .wp-block-buttons {
    grid-column: 2 / span 8;
    grid-row: 3 / span 1;
    margin-left: 0 !important;
}

section#kontakt {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
    max-width: var(--wp--style--global--wide-size);
    margin-left: auto;
    margin-right: auto;
}

section#kontakt > h2 {
    grid-column: 2 / span 8;
    grid-row: 1 / span 1;
    margin-left: 0 !important;
}

section#kontakt > p {
    grid-column: 2 / span 8;
    grid-row: 2 / span 1;
}

section#kontakt > div.wp-block-contact-form-7-contact-form-selector {
    grid-column: 2 / span 8;
    grid-row: 3 / span 1;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
/* footer styles */
footer p {
    line-height: 150%;
}